.container{
  padding: 8px;
}

.container-row {
  width: 100%;
}

.container-column {
    width: 50%;
    align-content: center;
}

.container-item {
  display: inline;
  margin: 4px;
}

.remove-position {
  position: relative;
  top: 16px;
  right: 25px;
}

mat-slider {
  width: 55%;
}

.add-remove {
  margin: 20px;
}

mat-icon {
  color: #FFFFFF
}

.scroll-box {
  overflow-y: scroll;
  height: 550px;
  padding: 1rem
}

.fab-button {
  margin: 16px;
}

#no-bullet-ul {
  padding: 0;
  margin: 0;
}

mat-form-field {
  width: 40%;
}