<mat-toolbar color="primary"> <!-- Inizio della toolbar -->
  <div class="row">
    <div class="flex-item">
    </div>

    <div class="flex-item">
      <p>{{_toolbarTitle}}</p>
    </div>

    <div class="flex-item">
      <button mat-icon-button
              matTooltip='Logout'
              (click)='logout()'
              routerLink="/"
              *ngIf="loggedIn">
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar> <!-- Fine della toolbar -->