<mat-toolbar color="primary"> <!-- Inizio della toolbar -->
    <p>Acquista posizioni</p>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button
            matTooltip="Mostra profilo"
    >
        <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="Logout">
        <mat-icon>power_settings_new</mat-icon>
    </button>
</mat-toolbar> <!-- Fine della toolbar -->

<!-- Inizio della divisione del form -->
<router-outlet></router-outlet>
