<app-toolbar [toolbarTitle]="toolbarTitle"></app-toolbar>

<div class="bg-form-users-div" >
  <mat-card class="bg-card">
    <mat-card-title>
      Utenti
    </mat-card-title>
    <table mat-table [dataSource]="users$ | async" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element">
          <a (click)='getUserPositions(element.username)'>{{element.id}} </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element">
          <a (click)='getUserPositions(element.username)'>{{element.username}} </a></td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <h2 class="no-positions" *ngIf="users$.length === 0">
      Nessuna posizione acquistata.
    </h2>
  </mat-card>
</div>

<div class="bg-form-div" >
  <mat-card class="bg-card">
    <mat-card-title>
      Posizioni utente
    </mat-card-title>
    <ul class="no-bullet-ul">
      <mat-accordion>
        <li *ngFor="let position of (positions$ | async)">
          <mat-expansion-panel
                  [expanded]="false"
                  (opened)="panelOpenState2 = true"
                  (closed)="panelOpenState2 = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Posizione: {{position.id}}
              </mat-panel-title>
              <mat-panel-description>
                {{panelOpenState2 ?  'Clicca per chiudere i dettagli della posizione' : 'Clicca per vedere i dettagli della posizione'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p><span>Latitudine: </span>{{position.latitude}}</p>
            <p><span>Longitudine: </span>{{position.longitude}}</p>
            <p><span>Date: </span>{{getDate(position.timestamp)}}</p>
          </mat-expansion-panel>
        </li>
      </mat-accordion>
    </ul>

    <h2 class="no-positions" *ngIf="positions$.length === 0">
      Nessuna posizione acquistata.
    </h2>
  </mat-card>
</div>