.bg-form-div {
    width: 50%;
    float: right;
}

.bg-form-users-div {
    width: 50%;
    float: left;
}

.no-bullet-ul {
    list-style: none;
}

.bg-card {
    align-content: center;
    height: 100%;
}

.no-positions {
    width: 100%;
    display: block;
    flex-direction: row;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    color: grey;
    font-style: italic;
}

.mat-table {
    width: 100%;
}

.mat-table th {
    text-align: center;
}

a {
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .bg-form-div,
    .bg-form-users-div {
        width: 100%;
        float: none;
    }
}