<mat-card class="bg-form-card" >
  <mat-card-title>
    Posizioni
  </mat-card-title>
  <div class="container scroll-box">
    <p>Scegli il numero di punti per disegnare un'area</p>

    <div class="container-row">
      <button mat-mini-fab class="add-remove" (click)='popPositionForms(1)'>
        <mat-icon>remove</mat-icon>
      </button>

      <mat-slider
        thumbLabel
        id="slider"
        [displayWith]="formatLabel"
        tickInterval="1"
        min="3"
        max="20"
        [value]="numberOfVertices"
        (input)='pitch($event)'
        ></mat-slider>

      <button mat-mini-fab class="add-remove" (click)='add()'>
          <mat-icon>add</mat-icon>
      </button>
    </div>

    <ul id="no-bullet-ul">
        <li *ngFor="let position of positions; let i = index;">
          <div class="container-row"> <!-- Inizio del container della riga -->
            <div class="container-item"><!-- Inizio container della singola casella di input -->
              <mat-form-field appearance="outline">
                <mat-label>Latitudine vertice #{{i + 1}}</mat-label>
                <input id="{{i}}-latitude"
                      matInput
                      [formControl]="position.group.get('latitude')"
                      (blur)="checkIfAddNewForm()"
                      placeholder="Latitudine">
                <mat-icon matSuffix>place</mat-icon>
                <mat-error *ngIf="position.group.get('latitude').invalid">{{position.getErrorMessageLatitude()}}</mat-error>
              </mat-form-field>
            </div> <!-- Fine container della singola casella di input -->
            <div class="container-item"> <!-- Inizio container della singola casella di input -->
              <mat-form-field appearance="outline">
                <mat-label>Longitudine vertice #{{i + 1}}</mat-label>
                <input id="{{i}}-longitude"
                      matInput
                      [formControl]="position.group.get('longitude')"
                      placeholder="Longitudine"
                      (blur)="checkIfAddNewForm()">
                <mat-icon matSuffix>place</mat-icon>
                <mat-error *ngIf="position.group.get('longitude').invalid">{{position.getErrorMessageLongitude()}}</mat-error>
              </mat-form-field>
            </div> <!-- Fine container della singola casella di input -->
          </div> <!-- Fine del container della riga -->
        </li>
    </ul>

    <button mat-fab
            class="fab-button"
            matTooltip="Compra posizioni dentro questa area"
            (click)='submit()'>
      <mat-icon>done</mat-icon>
    </button>

    <button mat-fab
            class="fab-button"
            matTooltip="Seleziona quest'area sulla mappa"
            (click)='showOnMap()'>
      <mat-icon>maps</mat-icon>
    </button>
  </div>
</mat-card>