<mat-card class="bg-bought-card" >
  <mat-card-title>
    Posizioni acquistate
  </mat-card-title>
  <div class="container">
    <h2 class="no-positions" *ngIf="positions.length === 0">
      Nessuna posizione acquistata.
    </h2>
    <ul id="no-bullet-ul">
      <mat-accordion>
        <li
          *ngFor="let position of positions"
        >
            <mat-expansion-panel
              [expanded]="false"
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Posizione: {{position.id}}
                </mat-panel-title>
                <mat-panel-description>
                  {{panelOpenState ?  'Clicca per chiudere i dettagli della posizione' : 'Clicca per vedere i dettagli della posizione'}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p><span>Latitudine: </span>{{position.latitude}}</p>
              <p><span>Longitudine: </span>{{position.longitude}}</p>
              <p><span>Date: </span>{{getDate(position.timestamp)}}</p>
            </mat-expansion-panel>
        </li>
      </mat-accordion>
    </ul>
  </div>
</mat-card>